name: test

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Prepare Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
        id: go

      - name: Checkout
        uses: actions/checkout@v2

      - name: Test
        run: go test ./...
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Prepare Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
        id: go

      - name: Checkout
        uses: actions/checkout@v2

      - name: Lint
        uses: golangci/golangci-lint-action@v2

      - name: fmt
        run: gofmt -l . && test -z $(gofmt -l .)